<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894453541121-e0jjep5vncc6un1lpfpc6j78r4k6efut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894453541121-e0jjep5vncc6un1lpfpc6j78r4k6efut</string>
	<key>API_KEY</key>
	<string>AIzaSyBiHyl8G_HbaGSEx248N8KG2MwPzvHRIcY</string>
	<key>GCM_SENDER_ID</key>
	<string>894453541121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.eminokobayashi.SharingApp2</string>
	<key>PROJECT_ID</key>
	<string>sharingapp2-3dc2c</string>
	<key>STORAGE_BUCKET</key>
	<string>sharingapp2-3dc2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894453541121:ios:f66bc0d2258545384e9300</string>
	<key>DATABASE_URL</key>
	<string>https://sharingapp2-3dc2c.firebaseio.com</string>
</dict>
</plist>